$white: #ffffff;
$black: #000000;
$color-cerulean: #006fb2;
// $primary2: #1b6ca8;
$primary2: #04233b;
$textCol: #1f1f1f;
$color-midnight-express: #1C1F35;
$color-white-smoke: #F4F4F4;
$color-sapphire: #111C55;